<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Backend/templates/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body style="font-family: 'EB Garamond'; font-weight: serif; background-color: #fcd5be;">
    <div class="jumbotron text-center" style="background-color: #f19560;; border-radius: 0%;">
        <h1 style="font-size: 60px;">Objetivos de desarrollo sostenible (ONU)</h1>
        <p style="font-size: 25px;">Analitica de textos</p>
    </div>

    <div class="text-center">
        <h2>Formulario de Predicción</h2>
        <form action="/predict" method="POST">
            <label for="text">Texto a predecir:</label><br>
            <input type="text" id="text" name="text"><br><br>
            <input type="submit" value="Predecir">
        </form>
    </div>

    <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 style="font-size: 75px; height: 200px;">Analisis de textos para los ODS</h1>
            <h3 style="line-height: 250%; text-align: left;">Un proyecto de machine learning para ayudar a la ONU con sus objetivos de desarrollo sostenible.</h3>
          </div>
          <div class="col-md-6">
            <img src="https://uniandes-my.sharepoint.com/:i:/r/personal/j_coronel_uniandes_edu_co/Documents/Manos.png?csf=1&web=1&e=6JR4Un" alt="Imagen centrada" class="mx-auto img-fluid" style="width: 600px; height: 500px;"">
          </div>
        </div>
    </div>

    <div class="row" style="height: 500px;"></div>

    
      

    
</body>
</html>
